# earnkit: marten static build
server {
    listen 80;
    server_name {{ marten_domain }};
    root /opt/marten/src/build;
    index index.html;
    location / {
        try_files $uri $uri.html $uri/ /index.html;
    }
}
